* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, Arial;
}

.wrapper {
    min-height: 100vh;
    min-width: 100vw;
}

header {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header h1 {
    margin-left: 10%;
    color: white;
}

.info {
    margin-right: 10%;
}

.info a {
    text-decoration: none;
    color: white;
    padding: 0 5px;
}