* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, Arial;
}

.wrapper {
    min-height: 100vh;
    min-width: 100vw;
}

/* Header */

header {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header h1 {
    margin-left: 10%;
    color: white;
}

.head-info {
    margin-right: 10%;
}

.head-info a {
    text-decoration: none;
    color: white;
    padding: 0 5px;
}

/* Game container */
.container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 26px;
}

.restart {
    font-size: 26px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.2s;
    padding: 2px;
    display: none;
}

button:hover {
    cursor: pointer;
    color: #C41E2A;
}

.game-info {
    width: 80%;
    margin: 25px auto;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.label {
    width: 33%;
}

.label #results h2 {
    display: inline;
}

@media (max-width: 1050px) {
    .choice img {
        width: 200px;
    }
}

@media (max-width: 550px) {
    .label h1 {
        font-size: 36px;
    }

    #results h2 {
        font-size: 36px;
    }
}

.results-info {
    height: 10vh;
}

.results-message {
    display: inline-block;
}



.game-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice {
    width: 33%;

}

.choice img {
    border-radius: 10px;
}

.choice {
    transition: 0.2s;
    border-radius: 10px;
}

.choice:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media (max-width: 1050px) {
    .choice img {
        width: 200px;
    }
}

@media (max-width: 850px) {
    .choice img {
        width: 150px;
    }
}

@media (max-width: 550px) {
    .choice img {
        width: 120px;
    }
}